.logoContainer{
    width: 190px;
    margin-left: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
   
    
 }
 .logoImg{
    width: 180px;
    height: 77px;
    object-fit: contain;
    margin: 10px;
   
 }
 .headerConatiner{
    width: 100%;
    height: 12vh;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .myClass{
    list-style: none;
    text-decoration: none;
    color:black;
    margin-right: 30px;
  
   
 }
 .navbar-header{
   margin-left: 100px;
   
 }

.header-mobile{
   transform: translateX(100vw);
   width: 0% !important;
   left:500px;
   
}


.header-tab {
   
   width: 50%;
  
}

 
 @media (max-width:900px) {
    .logoContainer{
       margin-left:0;
    }
 }